!!! 5

html(lang="en")
  head
    meta(charset="UTF-8")
    
    title Distraction Free Writing
    include includes/head
  body.dark

    // Settings/Info
    input#toggle(type="checkbox", name="toggle")
    label.toggle(for="toggle")

    .settings
      a#muteBtn(href="javascript: void(0)")
        i.icon-volume-up

      a#fsBtn(href="javascript: void(0)")
        i.icon-fullscreen

      a#thmBtn(href="javascript: void(0)")
        i.icon-adjust

    #about
      .logo

      if !username
        h3 Sign in
      else
        h3= fullname 
          a(href="/logout")  - Logout

      if !username
        a(href="/auth/twitter") Twitter
        p
      else
        p   
          if writes.length > 0
            | You have saved #{writes.length} write-ups. Here are some of them:

            ul.writes
              each item, i in writes
                li #{i+1})    
                  a(href="/view/#{item[0]}") #{item[1]}
          else
            | Seems like haven't saved anything yet. Try Ctrl+S (or ⌘+S) to
            | save/update your post on the server!

          if writes.length > 5
            a.more(href="javascript: void(0)") See More

      h3 Information

      //p
        a#muteBtn(href="javascript:void(0);") sounds
        |  : 
        span#muteVal yes
        
        br

        a#fsBtn(href="javascript:void(0);") fullscreen
        |  : 
        span#fsVal no

        br

        a#thmBtn(href="javascript:void(0);") theme
        |  : 
        span#thmVal dark

        br

        | Fullscreen might not work sometimes.
    
      p
        | There are around 
        a#wordCount 0 words
        |  in your current document. Total reading this time of this write-up is 
        a#readingTime
        |  .

      p
        a Hint: 
        | Hit Ctrl + M or Cmd + M for preview. 
        a(href="/view/documentation") View more shortcuts.


      h3 About

      p
        | Hi! I'm  
        a(href="http://kushagra.me") Kushagra Agarwal 
        | and I created this app using Nodejs for those who want to write without any distractions. 

      p Take a look at 
        a(href="/view/documentation") the docs 
        | or shoot me an 
        a(href="mailto:hi@kushagra.me") email 
        | if you need any help.


    // Notification
    p.notify
      | Saving...
      
    section#profile
      if username
        a.avatar(href="javascript:void(0);")
          img(src="#{profile_image}", width="40")
      else
        a(href="/auth/twitter/")
          i.icon-twitter

    // Heart
    section#write
      textarea#text(placeholder="Start writing here.", name="content", spellcheck="false")= data.content

    // Preview
    div#preview
      .post

    include includes/foot